header {
    background-color: #701e06;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px; /* Ajuste conforme necessário */
    border-radius: 24px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
}

/* Estilo para hover nas âncoras */
nav a:hover {
    text-decoration: underline;
    color: #ffeecc; /* Cor de fundo mais suave ao passar o mouse */
}

/* Ajuste na cor de fundo do header */
header {
    background-color: #8d422e; /* Cor mais suave para o header */
    transition: background-color 0.3s ease; /* Adiciona uma transição suave */
}

/* Estilo para dispositivos móveis */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .logo img {
        margin-bottom: 10px;
    }

    nav {
        margin-top: 10px;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav ul li {
        margin: 0;
        margin-bottom: 10px;
    }
}
