/* Estilos gerais do footer */
footer {
    background-color: #47291E;
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    max-width: 300px;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    font-size: 0.9em;
}

ul {
    list-style: none;
    padding: 0;
}

ul.social-media li {
    display: inline-block;
    margin-right: 10px;
    font-size: 1.2em;
}
/* Estilo para remover sublinhado e cor padrão de links */
ul li a {
    text-decoration: none;
    color: inherit;
}

/* Adicionando um estilo diferente para os links ao passar o mouse, se desejado */
ul li a:hover {
    color: aqua;
    text-decoration: underline;
}

/* Estilos para formulário de inscrição na newsletter */
form {
    display: flex;
}

input[type="email"] {
    flex: 2;
    padding: 10px;
    margin-right: 10px;
}

button {
    flex: 1;
    padding: 10px;
    background-color: #fff;
    color: #333;
    border: none;
    cursor: pointer;
}

/* Estilos para o rodapé */
.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

/* Media query para dispositivos móveis */
@media screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        max-width: 100%;
        text-align: center;
    }

    input[type="email"] {
        flex: 1;
        margin-right: 0;
    }

    button {
        flex: 1;
        margin-top: 10px;
    }
}
